.container{
    max-width: 1250px;
    background-color: var(--card-color);
    margin: 0 auto;
    box-shadow: var(--input-color) 2.4px 2.4px 3.2px;
}

.location{
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--card-color);
}
.location__name{
    color: var(--color-text);
    text-align: center;
}

.location__list{
    display: flex;
    justify-content:space-around;
}

.location__list--li span{
    font-weight: bold;
    color: var(--color-title);
}

.location__list--li p{
    color: var(--color-text);
}
